.dashboard-container {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 80px auto;
    box-shadow: 0 0 10px 5px rgba(194, 194, 194, 0.3);
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.report-section,
.complaint-section {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.report-options label,
.complaint-input label {
    display: block;
    margin-bottom: 5px;
    color: #aaa;
}

.report-options select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
    box-sizing: border-box;
}

.complaint-input textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
    box-sizing: border-box;
    resize: vertical;
}

.dashboard-container button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #2db8e7;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.dashboard-container button:hover {
    background-color: #1e84a4;
}
